.btn{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 15px;

}

.contained{
    background-color: rgb(167, 120, 3);
    color: blanchedalmond;
    
}

.outlined{
    border: 1px solid rgb(210,60,60);
    color: rgb(210, 60, 60);
}

.text{
    color: rgb(210,60,60);
}