.container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-size: 25px;

}

.navigation ul li a {
  color: #fff;
  text-decoration: none;
}

.home {
  width: 40px;
  height: 40px;
}

.logo{

  height: 60%;
}

header{
  background-color: rgb(161, 122, 6);
}


